* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background-color: #fffeee;
}

h1 {
  color: #0bd;
  font-size: 2rem;
  font-family: serif;
}

p {
  font-size: 20px;
}